@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* Variaveis Globais */

  /* Cores da navbar */
  --navbar-color-primary: #062558;
  --navbar-detail-color-1: #3391D7;
  --navbar-detail-color-2: #72C144;
  --navbar-detail-color-3: #F7B844;

  /* Cores do site */
  --color-primary: #FFFFFF;
  --button-color: #4B88D9;
  --button-color-hover: #447ac2;
  --input-color: #C4C8CE;
  --input-color-hover: #aeb1b6;
  --input-button-color: #b4b7bb;
  --error-color: #cfabab;
  --sucess-color: #aad4b3;
  --link-color: #0c6dff;

  /* Tamanho das fontes */
  --font-size-1: 2rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1rem;

  /* Tamanho das fontes - Mobile */
  --mfont-size-1: 1.5rem;
  --mfont-size-2: 1.25rem;
  --mfont-size-3: 1rem;
  --mfont-size-4: .75rem;

  /* Cores das fontes */
  --font-color-1: #FCFCFC;
  --font-color-2: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilos Padrões */

.button {
  background-color: var(--button-color);
  border: none;
  padding: 10px;
  color: var(--font-color-1);
  font-size: var(--font-size-3);
  cursor: pointer;
  transition: background-color .2s;
}

.button:hover {
  background-color: var(--button-color-hover);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputBox {
  display: flex;
  width: 300px;
  flex-direction: column;
}
.label {
  margin-bottom: 5px;
  font-size: var(--font-size-3);
}
.input {
  background-color: var(--input-color);
  border: none;
  padding: 10px;
  font-size: var(--font-size-4);
}

.inputButton {
  background-color: var(--input-button-color);
  border: none;
  padding: 10px;
  font-size: var(--font-size-4);
  cursor: pointer;
}

.title {
  font-size: var(--font-size-1);
  font-weight: bold;
}
.text {
  font-size: var(--font-size-2);
}
.textErro {
  font-size: var(--font-size-3);
  color: var(--error-color);
}

.textSucess {
  font-size: var(--font-size-3);
  color: var(--sucess-color);
}
.list .element {
  font-size: var(--font-size-3);
}
.span {
  font-size: var(--font-size-4);
  font-weight: bold;
}